.upper_button
{
    margin-top: 100px;
}
section.list_of_landlords
{
    margin-top: 50px;
}
section.list_of_landlords img
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-color: rgb(252, 250, 248);
    background-position: center;
    background-size: cover;
    border:3px solid transparent;
}
