/* REGISTER LANDLORD */

section.register_landlord{
    background-image: url(../images/list_a_flat_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
    padding: 120px 0px;
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
    position : relative;
}


section.register_landlord .top-content h6 {
    font-size: 14px;
    color: #f5a425;
    background-color: rgba(250,250,250,0.2);
    padding: 40px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}



section.register_landlord form {
    background-color: rgba(250,250,250,0.1);
    padding: 60px 40px;
    width: 100%;
    text-align: center;
}

/* The text inputs*/
section.register_landlord form input ,.landlord_info {
    width: 100%;
    height: 40px;
    background-color: rgba(250,250,250,0.1);
    border-radius: 0px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
section.register_landlord .landlord_role_dropdown /*  DROP DOWN MENU*/
{
    background-color: rgba(26, 24, 24, 0.1);
    color: rgb(27, 27, 27);
}
.landlord_info
{
    background: rgba(250,250,250,0.1) !important;
    color: #f5a425;
    border-color: #999;
}

section.register_landlord form::placeholder { color: #fff }
section.register_landlord input::placeholder { color: #fff; }
section.register_landlord input::placeholder { color: #fff; }

section.register_landlord form button,.already_registered_button  {
    margin-top: 10px;
    background-color: #f5a425;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    box-shadow: none;
    border: none;
}
section.register_landlord .already_registered_button {
    background-color: #d3ab6b;
    text-align: center;
}

